.board {
    margin: auto;
    margin-top: 100px;
    border: 1px solid #000;
    height: 400px;
    width: 400px;
}
.block {
    height: 50px;
    width: 50px;
    float: left;

}
.white {
    background-color: rgb(250, 243, 231);
}
.black {
    background-color: rgb(34, 1, 44);
}

.items {
margin: 10px;
background-color: rgb(180, 190, 194);

padding: 5px;

}

#shopping_cart {
    display: flex;
    justify-content: space-around;
    max-width: 750px;
    margin: auto;
}
#sum {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
.text {
    padding-top: 5px;
    line-height: 1.4em;
    font-size: 18px;
}

.prise {
    background-color: rgb(121, 158, 126);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 290px;
    margin: auto;
}